In [8]:

import time
import datetime
import requests
from bs4 import BeautifulSoup
from pandas import DataFrame
import string
import re
import itertools

import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
np.random.seed(10)

import matplotlib.pyplot as plt
from matplotlib.colors import LogNorm, rgb2hex
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

import seaborn as sns
sns.set_style('whitegrid')

from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans, DBSCAN


import re

import sys

In [9]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}

exAL='<a href="https://www.metal-archives.com/albums/Black_Sabbath/Paranoid/485531">Paranoid</a> <!-- 2 -->'
encoding='UTF-8'

In [7]:
linksoup = BeautifulSoup(exAL, 'html.parser')
album_page = requests.get(linksoup.a['href'], headers=headers)
            #review_page.encoding = encoding
            #review_soup = BeautifulSoup(review_page.text, 'html.parser')

In [10]:
album_soup=BeautifulSoup(album_page.text, 'html.parser')

In [25]:
album_soup.find_all('dl',{'class':'float_right'})[0].text.split('\n')[-3][-4:-2]

u'94'

In [37]:
data = pd.read_csv('MA-albums_2019-09-14_withFormat.csv', index_col=0)

In [24]:
def getRevScore(album_link):
    linksoup = BeautifulSoup(album_link, 'html.parser')
    album_page = requests.get(linksoup.a['href'], headers=headers)
    album_soup=BeautifulSoup(album_page.text, 'html.parser')
    revstring=album_soup.find_all('dl',{'class':'float_right'})[0].text.split('\n')[-3]
    perc=revstring[-4:-2]
    return revstring

In [ ]:
data_revScore=pd.DataFrame(columns=['AlbumName','BandName','ReviewScore'])
ndat=len(data)
for i in data.index:
    #sys.stdout.write('\r')
    #print('\r')
    revstring=getRevScore(data['AlbumLink'][i])
    perc=revstring[-4:-2]
    albumName = BeautifulSoup(data['AlbumLink'][i], 'html.parser').text
    bandName = BeautifulSoup(data['BandLink'][i], 'html.parser').text
    if(perc!=u' y'):
        data_revScore=data_revScore.append({'AlbumName': albumName, 'BandName':bandName, 'ReviewScore':int(perc)}, ignore_index=True)
    #sys.stdout.write("checked %i of %i albums, found %i review scores" % (i,ndat,len(data_revScore)))
    print("checked %i of %i albums, found %i review scores" % (i+1,ndat,len(data_revScore)), end='\r')
    sys.stdout.flush()
    if(i%100): 
        data_revScore.to_csv('Ma-revScore_2019-09-14_tmp.csv')
    #time.sleep(0.2)
    
data_revScore.to_csv('Ma-revScore_2019-09-14.csv')

In [39]:

sys.stdout.write('\r')
sys.stdout.write('123')
sys.stdout.write('\r')
sys.stdout.write('234')
sys.stdout.write('\r')
sys.stdout.write('345')
sys.stdout.write('\r')
sys.stdout.write('465')
sys.stdout.write('\r')
sys.stdout.write('2657')
sys.stdout.write('\r')

In [30]:
albumName

'Rush '

In [32]:
int(perc)

71

In [36]:
data_revScore

              AlbumName    BandName  ReviewScore
0        Evil Invaders        Razor           88
1   Executioner's Song        Razor           86
2   Executioner's Song        Razor           86
3         Breathe Fire   Rex Vector           80
4               Narita       Riot V           83
5               Narita       Riot V           83
6          First Visit   Rogue Male           70
7          First Visit   Rogue Male           70
8          First Visit   Rogue Male           70
9          First Visit   Rogue Male           70
10         First Visit   Rogue Male           70

In [33]:
data_revScore.append({'AlbumName': albumName, 'BandName':bandName, 'ReviewScore':int(perc)}, ignore_index=True)

  AlbumName BandName  ReviewScore
0     Rush      Rush           71